:root {
    --primary-color: #6a8b65;
    --button-color: #4b6348;
    --button-hover-color: #324030;
    --bg-color: #dccaa4;
    --card-bg: #ffffff;
    --text-color: #333333;
    --border-color: #e2e8f0;
    --error-color: #ff7c7c;
}
