:root {
    --primary-color: #f7fcfc;
    --button-color: #4f5d95;
    --button-hover-color: #343e6a;
    --bg-color: #1a202c;
    --card-bg: #2d3748;
    --text-color: #f7fafc;
    --border-color: #5f6d83;
    --code-color: #000000;
}
